.dashboard {background: #111213;
  padding: 10px 30px 30px;
  min-height: 100%;

  &__messagesListWrapper {width: 100%;
    padding: 30px;
    border: 1px solid #a9a6a6;
    border-radius: 15px;
    background: #fff;}

  &__messagesFormWrapper {width: 100%;
    padding: 30px;
    border: 1px solid #a9a6a6;
    border-radius: 15px;
    background: #fff;}

  &__messagesListWrapperTitle,&__messagesFormWrapper {color: #000;
    text-align: center;}

  &__contentWrapper {display: flex;
    column-gap: 30px;}

  &__messagesListWrapper {width: 100%;
    padding: 30px;
    border: 1px solid #a9a6a6;
    border-radius: 15px;
    background: #fff;}

  &__title {text-align: center;
    color: inherit;
    margin: 0 0 15px;}

  &__messagesSection,&__formSection {width: 100%;
    padding: 30px;
    border: 1px solid #a9a6a6;
    border-radius: 15px;
    background: #fff;}}
